@font-face {
    font-family: 'Georgia';
    src: url('/fonts/Georgia.eot');
    src: url('/fonts/Georgia.eot') format('embedded-opentype'),
         url('/fonts/Georgia.woff2') format('woff2'),
         url('/fonts/Georgia.woff') format('woff'),
         url('/fonts/Georgia.ttf') format('truetype'),
         url('/fonts/Georgia.svg#Georgia') format('svg');
}

body, h1, h2, h3, h4, h5, h6, input, label {
    font-family: 'Georgia', Times, serif;;
}