// brand colors

$primary-header-font-color: #2C3E50;
$section-header-font-color: green;

$primary-font-color: #656464;
$secondary-font-color: #acaeb1;
$tertiary-font-color: #B0B8BC;
$accent-font-color: #FFFFFF;
$quaternary-font-color: #34495E;

$primary-bg-color: #FFFFFF;
$accent-bg-color: #3A5062;
$secondary-bg-color: whitesmoke;

$primary-border-color: #EFECEC;
$primary-shadow-color: #AAAAAA;

$primary-button-color: #2F98D0;
$secondary-button-color: #7E919C;


// spacing

$tiny: 5px;
$small: 10px;
$medium: 20px;
$large: 30px;
$xlarge: 50px;